.emBaixoDoSite {
    order:6;
    display: flex;
    flex-direction: column; /* Mantém os itens em coluna */
    align-items: center; /* Centraliza os itens horizontalmente */
    position: relative; /* Para que os filhos possam usar position absolute */
}
/*Config da barraInfortiva inferior*/
.barraInferior {
    order: 1;
    display: flex;
    position: relative;
    margin-top: 5%;
    margin-bottom: -10%;
    flex-direction: row;
    align-items: center;
    align-self: center;
    border-radius: 22px;
    width: 73%;
    z-index: 100;
    padding: 25px 0px 25px 25px;
    background-color: #FFFFFF;
    border: 1px solid transparent; 
    box-shadow: 3px 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.5s ease;
}
/*Animação da Barra Inferior*/
.barraInferior:hover {
    transform: scale(1.05);
}
/*Configuração de imagem da Barra Inferior*/
.imagem-classe {
    order:1;
    width: 490px;
    height: auto;
    margin-right:0;
    border-radius: 22px;
}
/*Configuração de textos da Barra Inferior*/
.texto-barra {
    order:2;
    align-items:flex-start;
    flex-direction: column;
    justify-content:flex-start;
}
/*Configuração do titulo de textos do Oque da Barra Inferior*/
.Oque {
    align-items:flex-start;
    text-align: right;
    color: #F7F7F7;
    font-family: 'Inter';
    font-weight: 800;
    padding:5px 25px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    background-color:#0253A4 ;
    margin-left:30%;
    margin-right: 0;
}
/*Configuração de textos do Oque da Barra Inferior*/
.texto_oque {
    text-align: right;
    color: #827F75;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    margin-top:10px;
    margin-right:25px;
    margin-left:30px;
}
/*Configuração do titulo de textos do Qual da Barra Inferior*/
.Qual {
    align-items:flex-start;
    text-align: left;
    color: #F7F7F7;
    font-family: 'Inter';
    font-weight: 800;
    padding:5px 25px;
    border-top-right-radius: 22px;
    border-bottom-right-radius: 22px;
    background-color:#0253A4 ;
    margin-top:10px;
    margin-left:0;
    margin-right: 20%;
}
/*Configuração de textos do Qual da Barra Inferior*/
.texto_qual {
    text-align: left;
    color: #827F75;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 15px;
    margin-top:10px;
    margin-left:20px;
    margin-right:20px;
}
/*Parte azul do site contendo as informações finais do site*/
.conteudo-inferior {
    order: 2;
    display: flex;
    position: relative;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    align-content: flex-end;
    width: 100%;
    color: #F7F7F7;
    background-color: #0253A4;
    z-index: 10; /* Use um valor positivo para o z-index */
    padding: 15% 3%; /* Ajusta o padding para espaçamento */
    bottom: 0; /* Fixar ao fundo da página */
    left: 0; /* Alinhado à esquerda */
    height: 100px;
    width: 100%;
}
.aaa {
    order: 1;
    position: absolute; /* Permite que você posicione a .aaa */
    bottom: 10px; /* Ajusta a distância do fundo da caixa */
    left: 50%; /* Centraliza horizontalmente */
    transform: translateX(-50%); /* Ajusta para centralizar corretamente */
    align-items: center;
    width: 80%;
}
.textos-finais {
    order:1;
    display: flex;
    align-items: top;
    gap:5%;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 2%;
}
/*Configurações da parde Sobre da parte inferior*/
.sobre {
    order:1;
    flex-direction: column;
    text-align: left;
    font-family: 'Inter';
}
.sobre-nome {
    font-family:'Inter';
    font-weight: 600;
}
.sobre-texto {
    font-family:'Inter';
    margin-top:25px;
}
a {
    color:#F7F7F7;
    font-family: 'Inter';
    text-decoration: none;
    text-align: center;
}

.Informacao-contato {
    order:3;
    font-family: 'Inter';
}
.Info-contato {
    font-family: 'Inter';
    font-weight: 600;
}
.local {
    margin-top:25px;
}
.numero {
    margin-top:25px;
}
/*Ultima parte do site onde contém o simbolo de copyrigth e o link para o currículo dos criadores do site*/
.final {
    order:4;
    flex-flow: column wrap;
    align-self: center;
    flex-direction: row;
    color: #F7F7F7;
    justify-content:center;
    display: inline-flex;
    background-color: #0253A4;
    width: 100%;
    margin-top:0;
    border-top: 1px solid #F7F7F7;
    padding:15px 0px 0px 0px;
}
.copyright {
    order:5;

}
.fim {
    order:6;
    font-family:'Inter';
    font-weight: 600;
}
.alunos {
    order:7;
    font-family:'Inter';
    font-weight: 600;
    color: #1B8EFF;
}